.Placeholder{
    width: 40px;
    height: 80px;
    box-shadow: inset 0 0 10px #006600;
    border: 2px solid #006600;
    box-sizing: border-box;
}

.Vertical{

}

.Horizontal{
    transform: rotate(270deg) translateX(20px) translateY(20px);
} 

.VerticalInverted{
    transform: rotate(180deg);
}

.HorizontalInverted{   
    transform: rotate(90deg) translateX(-20px) translateY(-20px);
}