.StatisticItems {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

.StatisticItems div {
    float: left; 
    padding: 20px 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    border-bottom: 4px solid #40a4c8;
}