.Header{
    height: 70px;
    width:100%;
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    background-color: #703b09;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.withButtons{
    display: flex;
    justify-content: space-around;
}
